<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>RGB TECHO</title>
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
  <style type="text/css">

  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <!--[if lt IE 9]>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.0/gh-fork-ribbon.ie.min.css" />
  <![endif]-->
</head>

<body style="background-color:#ddd ">
  <div id="app" class="container">
    <div class="row">
      <input class="form-control" v-model="device_ip" placeholder="IP">
      <button type="button" class="btn btn-danger" v-on:click="off()">OFF</button>
      
      <div class="" >
        <input type="checkbox" id="bwhites" v-model="balance_whites">
        <label for="bwhites">Balanceo de blancos</label>
        <input type="range" min="0" max="1000" v-model="white_adjust.r" class="slider" id="redrange" @click="dumpwhites">
        <label for="redrange">{{white_adjust.r}}</label>
        <input type="range" min="0" max="1000" v-model="white_adjust.g" class="slider" id="greenrange" @click="dumpwhites">
        <label for="greenrange">{{white_adjust.g}}</label>
        <input type="range" min="0" max="1000" v-model="white_adjust.b" class="slider" id="bluerange" @click="dumpwhites">
        <label for="bluerange">{{white_adjust.b}}</label>
      </div>
    </div>
    <div id="panels" class="row">
     <svg height="auto" width="auto" viewBox="10 10 280 238" preserveAspectRatio="meet">

        <defs>
          <linearGradient id="linear" x1="0%" y1="0%" x2="100%" y2="0%">
            <stop offset="0%"   stop-color="#FF0A00"/>
            <stop offset="20%"   stop-color="#FFF000"/>
            <stop offset="40%" stop-color="#28FF00"/>
            <stop offset="60%" stop-color="#00FFE6"/>
            <stop offset="80%" stop-color="#000AFF"/>
            <stop offset="100%" stop-color="#D200FF"/>
          </linearGradient>
        </defs>

      <polygon points="25,25 159,25 159,101 25,125" 
        :style=" { 'fill': panelSelectColor(0), 'stroke':panelColor(0), 'stroke-width':7 }" 
        @click="setLedId(0)"/>   
      <polygon points="147,161 277,135 277,235 147,235" 
        :style=" { 'fill': panelSelectColor(0), 'stroke':panelColor(0), 'stroke-width':7 }" 
        @click="setLedId(0)"/>   
      <polygon points="179,25 277,25 277,117 179,135" 
        :style=" { 'fill': panelSelectColor(1), 'stroke':panelColor(1), 'stroke-width':7 }" 
        @click="setLedId(1)"/>   
      <polygon points="25,145 129,125 129,235 25,235" 
        :style=" { 'fill': panelSelectColor(1), 'stroke':panelColor(1), 'stroke-width':7 }" 
        @click="setLedId(1)"/>   
    </svg>
      
    </div>

    <div>
      <button v-on:click="setLedId(-1)">Todas</button>
      <br>

      
    </div>
    <div>
      <button v-on:click="mode_rainbow()">RAINBOW</button>
      <button v-on:click="mode_random()">RANDOM</button>
      <input type="range" min="0" max="170" v-model="cycles" class="slider" id="cyclesrange" @click="refresh_cycles()">
      <label for="cyclesrange">{{Math.round(Math.pow(2,this.cycles/10.0))}}</label>
    </div>
    <div>
      <chrome-picker v-model="colors" />
    </div>
    <div>
      <compact-picker v-model="colors" />
    </div>
   
  </div>
  <!-- built files will be auto injected -->

  <!-- Global site tag (gtag.js) - Google Analytics -->
  
<script src="vue.js"></script>
<script type='text/javascript' src='tinycolor.js'></script>
<script src="vue-color.min.js" type=""></script>
<script src="main.js"></script>
</body>

</html>
